body {
    display: flex;
    justify-content: center;
}
.image {
    width: 700px;
    height: 700px;
    background-image: url('./images/charizard.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 700px 700px; 
}

@media screen and (mix-width: 1301px) {
    .image {
        background-image: url('./images/charizard.png');
    }
}

@media screen and (max-width: 1300px) {
    .image {
        background-image: url('./images/charmeleon.png');
        background-size: 350px 350px; 
    }
}

@media screen and (max-width: 900px) {
    .image {
        background-image: url('./images/charmander.png');
        background-size: 200px 200px; 
    }
}