* {
    margin: 0
}

.logo-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .logo-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
  }
  
  .rectangle {
    width: 50px;
    height: 150px;
    margin: 0 5px;
    border-radius: 5px;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .blue {
    background-color: #0099ff;
  }
  
  .red {
    background-color: #ff3333;
  }
  
  .yellow {
    background-color: #ffcc00;
  }
  
  .green {
    background-color: #33cc33;
  }
  
  @keyframes animation {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    25% {
      transform: scale(1);
      opacity: 1;
    }
    75% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .rectangle:nth-child(1),
  .rectangle:nth-child(5) {
    animation-name: animation;
    animation-delay: 0s;
  }
  
  .rectangle:nth-child(2),
  .rectangle:nth-child(4) {
    animation-name: animation;
    animation-delay: 0.5s;
  }
  
  .rectangle:nth-child(3) {
    animation-name: animation;
    animation-delay: 1s;
  }
  
  .company-logo {
    margin-top: 30px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: show-logo;
    animation-delay: 1s;
  }

  .company-logo img {
    width: 200px;
  }
  
  @keyframes show-logo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  