* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 15px;
    background-color: grey;
    color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.division {
    height: 400px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}

.division img {
    width: 750px;
    height: 900px;
}

.divsion h2 {
    color: blue
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    padding: 25px;
}

footer a {
    outline: none;
    color: white;
}

footer a:hover {
    color: #ccc;
}

footer p {
    margin-left: 200px;
}